.container {
    width: 100%;
    background-color: rgba(125, 255, 125, 0.4);
    padding: 20px;
    margin: 0 auto;
    box-sizing: 0 0 5px rgba(0, 0, 0, 0.5);
  
    p {
      line-height: 1.4;
      text-align: justify;
    }
  }
  
  #check {
    display: none;
  }
  
  .content {
    display: none;
    transition: 0.9s linear;
  }
  
  label {
    display: inline-block;
    margin: 10px;
    color: rgb(2, 118, 79);
    text-decoration: underline;
    font-weight: 600;
  }
  
  #check:checked ~ .content {
    display: block;
  }
  
  #check:checked ~ label {
    visibility: hidden;
  }
  
  #check:checked ~ label:after {
    content: "Mostrar menos";
    display: block;
    visibility: visible;
  }